.footer{
    display: block;
    background-color: lightslategrey;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.copyright{
    display: flex;
    justify-content: center;
    margin-top:15px;
}