<div class="container">

    <div class="row" style="padding-top: 10px;">
        <button class="btn btn-info" style="margin-right: 50px;" routerLink="/caseconfig">Case Config</button>
        <button class="btn btn-info" routerLink="/siteconfig">Site Config</button>
    </div>
    

    <div class="row" style="margin-top: 50px;">

        <form class="example-form">
            <mat-form-field class="example-full-width col-md-12">
                <input matInput placeholder="Favorite food" value="Sushi">
            </mat-form-field>

            <mat-form-field class="example-full-width col-md-12">
                <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
        </form>
    </div>

    

</div>